form {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  margin: 0.25rem 0;

  &:nth-child(2n) {
    color: rgb(216, 52, 142);
  }

  &:nth-child(2n + 1) {
    color: #51c5f6;
  }

  &:nth-child(3n) {
    color: rgb(34, 175, 128);
  }
}

input {
  font-family: "Quicksand", sans-serif;
  color: #808080;
  background: transparent;
  outline: none;
  border: none;
  line-height: 24px;
}

.time {
  vertical-align: middle;
  color: #808080;
}

.time-input {
  margin: 0 0.5rem;
  width: 4rem;
}

.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 0.2rem;

  &:not([disabled]) {
    background: #88848c;
    color: #ffffff;
    cursor: pointer;
  }
}

.is-deleted {
  opacity: 20%;
}
