<section class="organizer-container">
    <header>
        <strong>{{ date | moment: 'D  MMMM YYYY' }}</strong>
    </header>
    <main>
        <form (ngSubmit)="toAddTaskSubmit()"
              [formGroup]="form">
            <div class="time-container">
                <span class="material-icons time">
                    query_builder
                </span>
                <input class="time-input"
                       placeholder="Set time..."
                       [ngxTimepicker]="fullTime"
                       [format]="24"
                       formControlName="time"
                       readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>

            </div>

            <input type="text"
                   placeholder="Set task name..."
                   formControlName="title">



            <button class="btn add"
                    [disabled]="form.invalid">Add</button>
        </form>
    </main>
    <footer>
        <ul>
            <li *ngFor="let task of tasks"
                class="task">
                <strong> {{ task.time.format('HH:MM') }} </strong>
                <span> {{ task.title }} </span>
                <button class="btn del">Del</button>
            </li>
        </ul>
    </footer>

</section>