<table>
    <tr class="t-header">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    <tr *ngFor="let week of calendar">
        <td *ngFor="let day of week.days"
            [class.disabled]="day.disabled"
            [class.active]="day.active"
            [class.selected]="day.selected"
            (click)="toSelectDay(day.value)">

            <span>
                {{ day.value | moment:'D' }}

                <span *ngIf=" day.active "
                      class="material-icons star">star</span>
            </span>
        </td>
    </tr>

</table>