table {
  padding: 0.5rem;
  margin: 0;
  background: rgba(136, 132, 140, 0.6);
  width: 100%;
}

th,
td {
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
}

.t-header * {
  color: #20bf55;
  background: linear-gradient(315deg, #20bf55 0%, #51c5f6 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

td {
  position: relative;
  &.disabled {
    opacity: 40%;
  }

  &.active {
    border: 1px solid white;
    border-radius: 0.25rem;
    background: #88848c;
    color: #51c5f6;
    font-size: 160%;
  }

  &.selected {
    border: 1px solid white;
    border-radius: 0.25rem;
  }

  &:hover:not(.disabled) {
    cursor: pointer;
  }
}

.material-icons.star {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.5rem;
}
